body {
  padding-top: 50px;
  overflow: visible;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
.main-template {
  padding: 40px 15px;
  text-align: left;
}

/*Fix Bootstrap and jumping to Anchors*/
h1, h2, h3, h4, h5, h6  {
  padding-top:50px;
  margin-top:-50px;
}

/* center images */
img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* IPython notebook stuff */
div#notebook {
  overflow: visible;
  border-top: none;
}

@media print {
  div.cell {
    display: block;
    page-break-inside: avoid;
  } 
  div.output_wrapper { 
    display: block;
    page-break-inside: avoid; 
  }
  div.output { 
    display: block;
    page-break-inside: avoid; 
  }
}

/* Make code blocks scrollable */
div.highlight > pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
div.output_text > pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* Hide anchor links unless you hover over the title */
.anchor-link {
    display: none;
}
*:hover > .anchor-link {
    display: inline;
}

/* Social media buttons */
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
span.share-buttons {
  position: absolute;
  right: 0;
  margin-right: 10%;
}

/* MathJax stuff */
.MathJax_Display {
  padding: 8px 0px;
}