<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <!-- Navbar toggle button (Use custom botton) -->
    <button class="navbar-custom-toggler btn btn-outline-secondary" type="button" 
        data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"
        >
        <span class="fas fa-bars"></span>&nbsp;&nbsp; My Notes
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- Inside collapse of navbar -->
        <div class="d-grid gap-1">
          <!-- Use custom buttons for navbar collapsable content -->
          <a href="/" class="nav-item btn btn-outline-secondary navbar-custom-button"><span class="fas fa-home fa-fw"></span> Home</a>
          <a href="/tag_index" class="nav-item btn btn-outline-secondary navbar-custom-button"><span class="fas fa-tags fa-fw"></span> Tags</a>
          <a href="/posts_chrono" class="nav-item btn btn-outline-secondary navbar-custom-button"><span class="fas fa-history fa-fw"></span> Posts</a>
          <a href="/about" class="nav-item btn btn-outline-secondary navbar-custom-button"><span class="fas fa-info fa-fw"></span> About</a>
      </div>
    </div>
  </div>
</nav>
