<span class="share-buttons">
<ul class="share-buttons">
  <li><a href="https://twitter.com/intent/tweet?source=http://{{ site.host }}{{ page.url }}&text={{ page.title }}:%20http://{{ site.host }}{{ page.url }}" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
  <li><a href="https://plus.google.com/share?url=http://{{ site.host }}{{ page.url }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
  <li><a href="http://www.reddit.com/submit?url=http://{{ site.host }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square fa-2x"></i></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://{{ site.host }}{{ page.url }}&title={{ page.title }}&source=http://{{ site.host }}{{ page.url }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
</ul>
</span>