<span class="share-buttons">
<ul class="share-buttons">
  <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.title }}%20{{ site.url }}{{ page.url }}%20via%20@PeterRoelants" target="_blank" rel="noopener" title="Tweet"><span class="fa-brands fa-square-x-twitter fa-2x"></span></a></li>

  <li><a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" rel="noopener" title="Submit to Reddit"><span class="fa-brands fa-square-reddit fa-2x"></span></a></li>

  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" title="Share on LinkedIn"><span class="fa-brands fa-linkedin fa-2x"></span></a></li>

  <li><a href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" title="Share by Email"><span class="fa-solid fa-square-envelope  fa-2x"></span></a></li>
 </ul>
</span>
